:root {
    --citrus: #F79256;
    --peach: #FBD1A2;
    --foam: #7DCFB6;
    --sea: #00B2CA;
    --deep: #1D4E89;
}

body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

